.g-signin2 {
  display: inline-flex;
  line-height: 50px;
}

.SearchBar {
  display: inline-flex;
  margin-top: 10px;
  width: 500px;
}

.inputBar {
  width: 100%;
  margin-bottom: 30px;
}

.redditItemBox {
  border: solid grey 3px;
  margin: 3px;
  display: flex;
  justify-content: flex-start;
}
.datePosts {
  font-size: 10px;
  margin-bottom: 0px;
}
.container {
  margin-left: 0px ! important;
}
.redditComments {
  font-size: 14px;
}
.subRedditLinks {
  color: grey;
  font-size: 12px;
}